.search-box-container {
    margin-top: 10px;
    width: 90%;
}

.search-box {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    width: 50%;
    margin-bottom: 1em;
}

.search-box:focus {
    outline: none;
    border-color: #66afe9;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 20px rgba(102, 175, 233, 0.6);
}

.ag-theme-quartz {
    width: 100%;
    overflow-x: auto;
}

.flex-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.ag-theme-quartz {
    --ag-foreground-color: rgb(126, 46, 132);
    --ag-background-color: rgb(157, 255, 217);
    --ag-header-foreground-color: rgb(204, 245, 172);
    --ag-header-background-color: rgb(3, 104, 107);
    --ag-odd-row-background-color: rgb(0, 0, 0, 0.03);
    --ag-header-column-resize-handle-color: rgb(126, 46, 132);

    --ag-font-size: 17px;
    --ag-font-family: monospace;
}

/* Styling scrollbar for Chrome, Safari, and Edge */
.ag-theme-quartz ::-webkit-scrollbar {
    width: 10px;
    /* Scrollbar width */
}

.ag-theme-quartz ::-webkit-scrollbar-track {
    background: #004d40;
    /* Dark green background for the track */
    border-radius: 5px;
    /* Rounded corners for the track */
}

.ag-theme-quartz ::-webkit-scrollbar-thumb {
    background: #26a69a;
    /* Lighter green for the thumb */
    border-radius: 5px;
    /* Rounded corners for the thumb */
}

.ag-theme-quartz ::-webkit-scrollbar-thumb:hover {
    background: #00796b;
    /* Darker green on hover for the thumb */
}

/* Styling scrollbar for Firefox */
.ag-theme-quartz {
    scrollbar-width: thin;
    /* Sets the scrollbar width for Firefox */
    scrollbar-color: #26a69a #004d40;
    /* Thumb and track color in Firefox */
}